<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{{title}}</title>
    <script type="text/javascript" src="../../node_modules/montage/montage.js" data-package="../../"></script>
    <script type="text/montage-serialization">
        {
            "test": {
                "prototype": "test/{{#destination}}{{destination}}{{/destination}}{{^destination}}ui{{/destination}}/{{name}}/{{name}}-test[Test]",
                "properties": {
                    "{{propertyName}}": {"@": "{{propertyName}}"}
                }
            },

            "{{propertyName}}": {
                "prototype": "{{#destination}}{{destination}}{{/destination}}{{^destination}}ui{{/destination}}/{{name}}.reel",
                "properties": {
                    "element": {"#": "{{propertyName}}"}
                }
            }
        }
    </script>

</head>
<body>
    <h1>{{title}}</h1>

    <div data-montage-id="{{propertyName}}"></div>
</body>
</html>
