<!DOCTYPE html>
{{#copyright}}<!--  {{{copyright}}} -->
{{/copyright}}
<html>
<head>
    <meta charset="utf-8">
    <title>{{name}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="{{name}}">
    
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/images/touch/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/images/touch/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/images/touch/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/images/touch/apple-touch-icon-57x57-precomposed.png">
    <link rel="shortcut icon" href="assets/images/touch/apple-touch-icon.png">

    <link rel="stylesheet" href="assets/style/style.css">

    <script src="node_modules/montage/montage.js"></script>
    <script type="text/montage-serialization">
    {
        "owner": {
            "prototype": "montage/ui/loader.reel"
        }
    }
    </script>
</head>
<body>
    <span class="loading"></span>
</body>
</html>
