.Welcome {
    max-width: 50em;
    padding: 1em;
    margin: 0 auto;
}

.Welcome h1 {
    margin: 1em 0;
    text-align: center;
}

.Welcome p {
    margin-top: 0;
}

.Welcome h1 img {
    width: 5em;
    height: 5em;
    horizontal-align: center;
}

.Welcome kbd {
    background: hsl(0,0%,92%);
}

.Welcome .HelloWorld {
    text-align: center;
    margin: 0.2em 0;
    padding: 0.5em;
    border: 4px dashed hsl(0,0%,80%);
    border-radius: 8px;
    font-size: 4em;
    line-height: 1em;
    font-weight: bold;
    text-shadow: 0 2px 2px hsl(0,0%,80%);
}
