language: node_js
cache:
  directories:
    - node_modules
node_js:
#  - "9"
#  - "8"
#  - "6"
  - "4"
sudo: required
services:
  - docker
before_install:
  - sudo apt-get update
  - sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-ce
before_script:
  - npm prune
script:
  - npm run lint
  - npm run test
  - npm run test:nsp
after_failure:
  - docker ps
  - docker-compose logs
after_success:
  - cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js