{{#copyright}}/* {{{copyright}}} */

{{/copyright}}

/**
 * 1. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
 
html {
    font-family: sans-serif;
    line-height: 1.3;
    color: hsl(0,0%,20%);
    -ms-text-size-adjust: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 1 */
}

body {
    margin: 0;
}
