{{#copyright}}/* {{{copyright}}} */

{{/copyright}}

/* 
 * This file is reserved for your global style rules. 
 */

html {
    font-family: sans-serif;
    color: #333;
    
    /* Prevent iOS text size adjust after orientation change, without disabling user zoom. */
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0; /* Remove default margin */
}
