{{#copyright}}/* {{{copyright}}} */

{{/copyright}}
.Main {
    max-width: 50em;
    padding: 1em;
    margin: 0 auto;
}

.Main h1 {
    margin: 0;
}

.Main p {
    margin-top: 0;
}

.Main h1 img {
    width: 3em;
    height: 3em;
    vertical-align: middle;
}

.Main li {
    margin-top: 0.5em;
}

.Main code {
    display: block;
    white-space: pre;
    padding: 1em;
}

.Main code,
.Main kbd {
    background: hsl(0,0%,92%);
}

.Main .Greeting {
    display: inline-block;
    margin: 1em;
    font-size: 4em;
    font-weight: bold;
    text-shadow: 0 2px 2px hsl(0,0%,80%);
}
